{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign up{% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center page-title mb-5">Sign Up</h1>
    <div class="form-container container w-50 w-md-100">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
            </div>
            <div class="container px-0 d-grid mb-3 w-50 w-md-100 gap-2">
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock content %}